.page-container {
  width: 100%;
  min-height: 100%;
  position: relative;
  margin-top: 75px;
}

.header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 10px; */
}

.header-name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px;
}

.header-email {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  color: rgb(116, 116, 116);
}

.heading {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.body-tag {
  background-color: #f8f9fa;
  width: 40%;
  padding: 5px;
  font-weight: 700;
}

.body-desc {
  background-color: #f8f9fa;
  width: 100%;
  padding: 5px;
  font-weight: 700;
}

.body-details {
  background-color: #f8f9fa;
  width: 59%;
  padding: 5px;
}

.footer {
  width: 100%;
  background-color: #f8f9fa;
  margin-top: auto;
  margin-bottom: 1rem;
}

.help-btn {
  margin: auto;
}
