@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Assistant', sans-serif !important;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

div.app {
  height: 100%;
  background-color: cornsilk;
}

.navbar {
  background-color: #5777b2;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}